/*HEADER*/

img{
    max-width: 100%;
}

header{
    display: contents;
}

.ms_brand_nav{
    background-color: black;
}

.ms_brand_nav img{
    height: 15px;
    object-position: center;
    object-fit: contain;
    display: block;
}

#header-container .ms_nav{
    background-color: white;
    position: sticky;
    top: 0;
}

#header-container .ms_nav .container-fluid{
    padding: 0 0;
}

/*NAV BAR*/
.search{
    margin: auto 0 auto 10px;
}

.search img{
    height: 25px;
    object-position: 50% 50%;
}

.btn-pill{
    border-radius: 999px;
}

.navbar-nav li{
    padding: 0 5px;
}

.navbar{
    padding: 0 5px;
    position: sticky;
    top: 0;
    z-index: 888;
}

/* IMG GIOCO */

.game_banner{
    object-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game_returnal{
    background-image: url(../img/img/jumbo-bg.png);
}

.game_takes{
    background-image: url(../img/img/it-takes-two-hero-banner-desktop.jpg);
}

.game_banner .row{
    min-height: 590px;
    color: white;
}

.game_banner .row img {
    max-width: 250px;
}